.grey.darken-4{
    background-color: #fff !important;
}
nav ul a{
    color: #000;
}
.z-depth-5 {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.sidenav .user-view{
    margin-bottom: 0px;
}
main {
    flex: 1 0 auto;
}
.shop{
    background-color: #fff;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #3346d1;
}
.switch label .lever {
    background-color: #3346d1;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #f1f1f1;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #3346d1;
}
.switch{
    padding: 0 14.5px;
}
.hover a:hover{
    background-color: #3346d1;
    color: #fff !important;
}
.social{
    padding: 0 0.3em;
}
.fab{
    transition: all 0.3s ease-in-out;
}
.fab:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.4);
    color: #fff;
}
nav ul li.active {
    background-color: rgba(0, 0, 0, 0.1);
}
.row{
    margin-top:4em;
    margin-bottom: 4em;
}
.sidenav-overlay {
    z-index: 1;
}
nav .sidenav-trigger {
    color: #3346d1;
}
.background{
    background-color: #3346d1;
}

.btn {
    background-color: #3346d1;
    border: none;
    font-weight: 500;
    font-size: 14px;
    width: 170px;
    margin-bottom: 1em;
}
.btn-center{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.btn:hover{
    background-color: #3346d1;
}
.home{
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.home1{
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 120px;
}
.txt-h{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
}
.txt-p{
    font-size: 1rem;
    color: #fff;
}
.homelogo{
    padding: 0;
    margin-bottom: 5px;
}
.section-2{
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 88px; 
}

.promocard h2{
    font-size: 1.5rem;
    font-weight: 400;
    
}
.promocard .promoi{
    display: inline-block;
    width: 70px;
    line-height: 50px;
    margin: 10px auto;
    position: relative;
    color: #fff;
}
.promocard{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 75px;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
    border-radius: 2px;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
    color: #000;
}
.promocard:hover{
    color: #fff;
    visibility: visible;
    -webkit-transform: translateY(0) scale(1);
    opacity: 1;
    box-shadow: 0 20px 40px rgba(0,0,0,.2);
    transform: translateY(0) scale(1);
    -webkit-transition: all 0.15s ease-in-out 0s, -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    transition: all 0.15s ease-in-out 0s, transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}
.promocard-alt:hover .promoi::after{
    transform: scale(10);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    z-index: -1;
}
.promocard-alt .promoi::after{
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-left: -35px;
    background: #3346d1;
    border-radius: 100%;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}
.promocard-alt .promoi::before{
    position: relative;
    z-index: 1;
}
.fa-headset::before{
    content: "\f590";
}
.fa-map-marked-alt{
    content: "\f5a0";
}
.fa-user-clock{
    content: "\f4fd";
}
.fa-parachute-box{
    content: "\f4cd";
}
.fa-heart{
    content:"\f004";
}
.fa-tags{
    content: "\f02c";
}
.carousel{
    height: 200px;
}
.line-two {
    height: 2px;
    width: 100px;
    background: #fff;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.our-p{
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
}
.our-h{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 5px 0;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
}
.section-4{
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 88px;
}
.contact-h{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 5px 0;
    padding: 5px;
    text-transform: uppercase;
    color: #000;
}
.contact-p{
    font-size: 1rem;
    color: #000;
}
.line-one {
    height: 2px;
    width: 100px;
    background: #3346d1;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.single{
    padding: 5%;
    margin-bottom: 50px;
    text-align: center;
    transition: all .2s ease-in-out;
    border-radius: 4px;
    background: #3346d1;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}
.single:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
.single i{
    margin-top: 10px;
    color: #fff;
}
.single p{
    color: #fff;
}
.single h2{
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}
.socials i{
    color: #f2f2f2;
    padding: 0 5px;
    margin: 0px;
}
#contact-form {
    box-shadow: 0 20px 40px rgba(0,0,0,.2);
    padding: 5%;
    border-radius: 4px;
    background-color: #3346d1;
}
.input-field{
    padding: 6px;
    margin-bottom: 30px;
}
.input-field>label{
    color: #fff;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}
.controls{
    margin: 1em;
}
.btnsub{
    margin-top:25px;
}
.sub{
    min-width: 165px;
    margin-top: 25px;
    font-weight: 500;
}
.subs{
    color:#fff;
    
}
.input-field{
    padding: 0;
}
.footer-content{
    margin-bottom: 30px;
}
.page-footer h5{
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
}
.page-footer{
    background-color: #3346d1;
}
.sec1{
    background-color: #fff;
}
.blue {
    background-color: #3346d1 !important;
}
.red{
    background-color: #3346d1 !important;
}
.card .card-image img {
    width: auto;
    margin: auto;
    padding: 20px 0;
}
.minus,.plus,.delete{
    width: 30px;
    height: 30px;
    margin: 0;
}
.minus i{
    position: absolute;
    top:-9px;
    left: 0;
    right: 0;
}
.plus i{
    position: absolute;
    top:-8px;
    left: 0;
    right: 0;
}
.delete i{
    position: absolute;
    top:-5px;
    left: 0;
    right: 0;
}
.pagination li.active {
    background-color: #3346d1;
}
.card {
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    
    margin: .5rem 1em 2.5rem 1em;
    transition: all .2s ease-in-out;
}
.card:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.3);
}
.card-image{
    border-radius: 5px 5px 0 0;
}
.card .card-content{
    background-color: #212121;
    color: white;
    border-radius: 0 0 5px 5px;
}
.pic1{
    background-image: url(../images/673.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .pic2{
      background-image: url(../images/786.jpg);
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
  }
  .pic3{
      background-image: url(../images/1450.jpg);
      background-color: #3c4043;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }
  .pic4{
      background-image: url(../images/1753.jpg);
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
  }
.theme{
    background-color: #fff !important;
}
.theme a{
    color: #000;
}
  .margen{
      margin: 0;
  
  }
  .centered{
    display: flex;
    justify-content: center;
}
.big p{
   padding-top: 170px;
}
.banner p{
    padding-top: 75px;
}
.big{
    cursor: pointer;
    text-align: center;
    height: 374px;
    margin: .75rem 0;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.banner{
    cursor: pointer;
    text-align: center;
    margin: .75rem 0;
    height: 180px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
.exa{
    background-color: #3346d1 ;

}
.title-card{
    text-align: center;
    padding: 7%;
}
.title-card p{
    color: #fff;
}
.bold{
    font-weight: 600;
}
.title-card i{
    color: #fff;
}
.dcolor{
    background-color: #fff;
}
.ctext{
    color: #000 !important;
}
.about-block{
    margin-top: 8em;
    text-align: center;
    border: 2px solid #fff;
}
.about-block p{
    color: #fff;
}
.about-block h2{
    color: #fff;
}
.content{
    padding: 5%;
}
.line-one1{
    height: 2px;
    width: 100px;
    background: #fff;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.about{
    background-color: none;
}
.about2{
    background-color: #fff;
}
.about3{
    background-color: #3346d1;
}
.about4{
    background-color: #fff;
}
.milestone-counter{
    text-align: center;
    padding: 5px;
    margin: 2rem 0;
    font-size: 1.5em;
}
.milestone-counter i{
    color:#fff
}
.stat-count{
    color: #fff;
}
.milestone-details{
    color: #fff;
}
.our-team{
    text-align: center;
    margin-top: 4em;
}


.card-team{
    cursor: pointer;
}

.card-team .face{
    height: 200px;
    transition: 0.5s;
}

.card-team .face.face1{
    position: relative;
    background: #fff;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.card-team:hover .face.face1{
    background: #3346d1;
    transform: translateY(0);
}
.card-team:hover .face.face1 .content h3{
    color: #fff;
}

.card-team .face.face1 .content{
    transition: 0.5s;
    text-align: center;
}

.card-team .face.face1 .content img{
    max-width: 100px;
}

.card-team .face.face1 .content h3{
    padding: 0;
    color: #000;
    text-align: center;
    font-size: 1.5em;
}

 .card-team .face.face2{
    position: relative;
    background: #fff;
    align-items: center;
    padding: 3%;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    transform: translateY(-100px);
}

 .card-team:hover .face.face2{
    transform: translateY(0);
}

 .card-team .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.card-team .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 600;
    color: #333;
}
.testimon{
    margin: 3em 0;
    

}
blockquote{
    border-left: 5px solid #fff;
}
.carousel-fixed-item{
    height: 570px !important;
}
.about5{
    background-color: #fff;
}

.tp{
    padding: 0 24px;
}
@media (min-width: 992px) {
    .timeline-centered,
    .timeline-centered .timeline-item,
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-marker,
    .timeline-centered .timeline-content {
      display: block;
      margin: 0;
      padding: 0;
    }
    .timeline-centered .timeline-item {
      padding-bottom: 40px;
      overflow: hidden;
    }
    .timeline-centered .timeline-marker {
      position: absolute;
      left: 50%;
      margin-left: -7.5px;
    }
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-content {
      width: 50%;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
      float: left;
      text-align: right;
      padding-right: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
      float: right;
      text-align: left;
      padding-left: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
      float: right;
      text-align: left;
      padding-left: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
      float: left;
      text-align: right;
      padding-right: 30px;
    }
    .timeline-centered > .timeline-item.period .timeline-content {
      float: none;
      padding: 0;
      width: 100%;
      text-align: center;
    }
    .timeline-centered .timeline-item.period {
      padding: 50px 0 90px;
    }
    .timeline-centered .period .timeline-marker:after {
      height: 30px;
      bottom: 0;
      top: auto;
    }
    .timeline-centered .period .timeline-title {
      left: auto;
    }
  }
  .timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
    line-height: inherit;
  }
  
  /*----- TIMELINE ITEM -----*/
  .timeline-item {
    padding-left: 40px;
    position: relative;
  }
  .timeline-item:last-child {
    padding-bottom: 0;
  }
  
  /*----- TIMELINE INFO -----*/
  .timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  /*----- TIMELINE MARKER -----*/
  .timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
  }
  .timeline-marker:before {
    background: #3346d1;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: 0.3s ease-in-out, border 0.3s ease-in-out;
  }
  .timeline-marker:after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
  }
  .timeline-item:last-child .timeline-marker:after {
    content: none;
  }
  
  .timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid #3346d1;
  }
  
  /*----- TIMELINE CONTENT -----*/
  .timeline-content {
    padding-bottom: 40px;
  }
  .timeline-content p:last-child {
    margin-bottom: 0;
  }
  
  /*----- TIMELINE PERIOD -----*/
  .period {
    padding: 0;
  }
  .period .timeline-info {
    display: none;
  }
  .period .timeline-marker:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid #CCD5DB;
    border-bottom: 3px solid #CCD5DB;
  }
  .period .timeline-marker:after {
    content: "";
    height: 32px;
    top: auto;
  }
  .period .timeline-content {
    padding: 40px 0 70px;
  }
  .period .timeline-title {
    margin: 0;
  }
  .marker-outline .timeline-marker:before {
    background: transparent;
    border-color: #3346d1;
  }
  .marker-outline .timeline-item:hover .timeline-marker:before {
    background: #3346d1;
  }
  .title-cent{
      text-align: center;
  }
@media only screen and (max-width: 992px){
    .pagination li.pages {
        width: min-content;
    }
    .title-cent{
        text-align: left;
    }
}
